/*For bootstrap IE 10 support on windows 8 and windows mobile 8*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*general styles*/
body { padding-top: 50px; background:#f8f8f8; }
.row { margin:0; }
.fullwidth { width:100%; }
.padd30 { padding:30px; }
.noborder{border:0;}
.btn-primary{
    background-color:#007BA7;
    border-color:#007BA7;    
}
.panel .panel-heading{
    background-color:#007BA7;
    border-color:#007BA7;
	margin:0;    
}
.panel-primary{
    border-color:#007BA7;
}

/*header styles*/
header { height:auto; width:100%; }
nav #switch_site_btn{
    color:#fff;
    background-color:#000;
    border-color:#0f0f0f;
}
nav #switch_site_btn:hover{
    color:#000;
    background-color:#fff;
}
/*footer styles*/
footer {
    min-height:300px;
    width:100%;
    background:#083643;
    color:#fff;
}
footer .row {
    padding:20px;
}

/*PAGES*/
#images, #news, #portfolio{
   background-color:#e7e7e7;
   padding:20px;
}

/*Home*/
#home td{
    vertical-align:middle;
    border:0;
}


/*Portfolio*/
#portfolio .page-title{
    text-indent:32px;
}


/*News app*/
#news .page-title{
    text-indent:22px;
}
#news #content{
    margin-bottom:40px;
}
#news #sidebar .tag-cloud h1{
    margin-top:0px;
}
#news article{
    background-color:#fff;
    white-space:normal;
}
#news .snippet{
    
}
#news .related{
    white-space:normal;
}
#news #sidebar_inner{
    width:auto;
}
#news .tag-cloud{
    max-width:210px;
    height:165px;
    text-align:center;
}
#news .tag-cloud a:hover{
    color:#f33;
    font-size:105%;
    text-decoration:none;
}
#news .tag-cloud li a:hover{
    color:#f33;
    text-decoration:none;
}
#news .formNewsSearch{
    max-width:210px;
}
/*fixing an issue with bootstrap affix*/
#news .affix-bottom {
    position:relative;
}

#news .related{
    padding:10px;
}
#news .related ul{
    /*list-style:none*/;
}
#news .related ul li:hover{
    text-decoration:underline;
}
#news .formNewsSearch{
    margin-bottom:40px;
}
#news .formNewsSearch input{
    width:75%;
}
#news .formNewsSearch button{
    width:25%;
}
#news #newsLatest{
    margin-bottom:20px;
}
#news #modal .modal-dialog{
    width:95%;
}
#news .modal-body{
    width:100%;
    height:460px;
}

/*images app*/
#images .image-container{
    overflow:hidden;
    margin:10px 10px 10px -10px;
}
#images .page-title{
    text-indent:8px;
}
#images .gallery{
    margin-top:20px;
    margin-bottom:20px;
    background:#fff;
}
#images #imageSearch, #images #submit{
    width:auto;
    display:inline-block;
}
#images #editors-choice{
    display:none;
}
#images #ec-label{
    line-height:36px;
}
#images #ec-label span{
    float:right;
    width:32px;
    height:32px;
    padding:8px;
    margin:2px 0 0 4px;
    border:1px #c8c8c8 solid;
    background-color:#fff;
}
#images #ec-label span span{
        display:none;
        width:14px;
        height:14px;
        border:0;
        padding:0;
        margin:0;
        background-color:#333;
}
#images #submit{
    padding:6px;
}
#images .pag-cur{
    border-color:#fff;
}
#images .pag-cur:hover{
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    color:#333;
}
#images #lightboxbg {
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.5;
    display:none;
}
#images #lightbox {
    position :absolute;
    left:0;
    bottom:0;
    z-index:101;    
    background:#fff;
    padding:10px;
    display:none;
}
#images #pixabay:hover{
    opacity:0.65;
}


    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #news article img, #news article iframe{
            max-width:100%;
        }
        .affix{
            position:static;
        }
        
        #images .row{
            margin:10px 0px 10px 0px;
            padding:0;
        }

        #images .image-container{
            height:auto;
            padding:0px 15px 0px 15px;
        }
        
        #images .image-container img{
            width:100%;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
            #news article img, #news article iframe{
                max-width:285px;
                min-height:150px;
                float:left;
                margin-right:15px;
            }
            .affix{
                position:fixed;
            }
            nav #switch_site_btn{
                margin-left:20px;
            }
            
            #images .row{
                margin:10px 10px 10px -10px;
                padding:0px 15px 0px 15px;                
            }
            
            #images .image-container{
                height:200px;
            }
            
            #images .image-container img{
                min-height:100%;
                width:auto;      
            }
            
        }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }